@mixin clearDIV {
    clear: both;
}

@mixin trans_1 {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

@mixin trans_05 {
    -moz-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    -webkit-transition: all .05s ease-in;
    transition: all .05s ease-in;
}

@mixin img100 {
    width: 100%;
    height: auto;
}

@mixin scrollable_filter {
    position: relative;
    width: 100%;
    max-height: 250px;
    overflow: auto;
}

@mixin productPrice_list {
    display: block;
    width: 100%;
    margin: 0 0 10px;
    span.fullPrice {
        display: block;
        color: $yellow;
        text-decoration: line-through;
        font-size: 90%;
    }
    div#finalAmount {
        display: block;
        color: $grey;
        font-size: 110%;
        font-weight: 600;
        span.qty {
            display: inline-block;
        }
        span.discountPrice {
            display: inline-block;
        }
        span.singlePrice {
            display: inline-block;
            margin-top: 20px;
        }
    }
    span.finalPrice {
        display: block;
        margin-top: 20px;
        color: $grey;
        font-size: 110%;
        font-weight: 600;
    }
}

@mixin productPrice_data {
    display: block;
    width: 100%;
    margin: 30px 0;
    span.fullPrice {
        display: block;
        color: $yellow;
        text-decoration: line-through;
        font-size: 110%;
        font-weight: 500;
    }
    span.discountPrice {
        display: block;
        color: $white;
        font-size: 150%;
        font-weight: 600;
    }
    span.singlePrice {
        display: block;
        margin-top: 20px;
        color: #389178;
        font-size: 150%;
        font-weight: 600;
    }
}

@mixin btn_AddToCart_list {
    display: block;
    width: 95px;
    float: right;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: auto;
    color: $grey !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    @include trans_1;
    &:hover {
        background-color: $red !important;
        color: $white !important;
    }
}

@mixin btn_AddToCart_data {
    display: inline-block;
    cursor: pointer;
    padding: 10px 30px;
    color: $grey !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 130%;
    @include trans_1;
    &:hover {
        background-color: $red !important;
        color: $white !important;
    }
}

@mixin btn_Yellow {
    color: $grey !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100%;
    font-weight: 600;
    background-color: $yellow;
    @include trans_1;
    &:hover {
        background-color: $red !important;
        color: $white !important;
    }
}

@mixin btn_Blue {
    color: $white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100%;
    font-weight: 600;
    background-color: $blue;
    @include trans_1;
    &:hover {
        background-color: $red !important;
        color: $white !important;
    }
}

@mixin btn_Red {
    color: $white !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 100%;
    font-weight: 600;
    background-color: $red;
    @include trans_1;
    &:hover {
        background-color: $grey !important;
        color: $white !important;
    }
}

@mixin contactDisplayHead {
    i {
        color: $primary-color;
    }
    ul {
        padding: 10px 0;
        list-style: none;
        color: $grey-base;
        li {
            display: inline-block;
            padding: 0 20px;
            a {
                color: $grey-base;
                &:hover {
                    color: $blue;
                }
            }
            img {
                margin-left: 10px;
            }
        }
        li:nth-child(1),
        li:nth-child(2) {
            border-right: 1px solid $grey-base;
        }
        li:last-child {
            padding: 0 0 0 20px;
        }
    }
    @media (max-width: 768px) {
        i {
            color: $primary-color;
        }
        ul {
            li {
                padding: 0 5px;
                img {
                    margin-left: 5px;
                }
            }
            li:last-child {
                padding: 0 0 0 5px;
            }
        }
    }
}

@mixin contactDisplayFooter {
    ul {
        padding: 10px 0;
        list-style: none;
        color: $white-base;
        li {
            display: inline-block;
            padding: 0 20px;
            a {
                color: $white-base;
                &:hover {
                    color: $blue;
                }
            }
            img {
                margin-left: 10px;
                filter: brightness(0) invert(1);
            }
        }
        li:nth-child(1),
        li:nth-child(2) {
            border-right: 1px solid $white-base;
        }
        li:last-child {
            padding: 0 0 0 20px;
        }
    }
    @media (max-width: 768px) {
        ul {
            text-align: center;
            li {
                display: block;
                margin: 0 0 10px;
            }
            li:nth-child(1),
            li:nth-child(2) {
                border-right: none;
            }
            li:last-child {
                padding: 0 20px;
            }
        }
    }
}

@mixin profileLNK {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 40px;
    background-color: $primary-color;
    color: $white !important;
    img {
        width: 20px;
        height: auto;
    }
    &:hover {
        background-color: rgba($primary-color, .8);
    }
}

@mixin formError {
    display: block;
    margin: 5px 0;
    padding: 0 0 0 5px;
    color: $red;
    font-size: 90%;
}

@mixin blueTitle {
    display: block;
    width: 100%;
    padding-top: 1.1rem;
    color: $blue;
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: 600;
}

@mixin productSKU {
    display: block;
    margin-top: 10px;
    font-size: 110%;
    label {
        color: $blue;
        font-weight: 500;
    }
}