// colors
// blue => #0DACD2
//$red: #D93648;
//$yellow: #FCBE0A;
//$grey-lighten-5 => #F1F1F1
$grey: #707070; //#0A0A0B;
$grey-dark: #131314; // body back, breadcrumb
$grey-card: #1b1b1c; // card back
$grey-light: #e0e0e0; // search back, padding disabled
$grey-line: #7E7E7E; // accordian border
$grey-form: #3a3a3d; // product page select
$grey-light-dark: #232325; // blockquote
$blue: #33b5e5; // main blue collor
$white-border: #dee2e6; // table bottom border, cart right bottom border
$yellow: #FCBE0A; // button
$annona-gray-light: #F9F9F9; // header-menu border, search background
$annona-gray-dark: #7C7C7C; // side menu arrow, footer border
$annona-green-light: #36947C; // footer title
$annona-footer-bg: #262424;

$annona-orange: #F48473;
// site max width
$site-max-width: 1200px;
//$lato-font: 'Lato', sans-serif;
.grey-lighten-5-text {
    color: $grey-lighten-5;
}

.fav-grey {
    color: $grey;
}

.text-grey {
    color: $grey;
}