    // Fonts
    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900");
    @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
    // Fontawesome
    @import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
    @import '~mdbootstrap-pro/css/bootstrap.css';
    // mdbootstrap pro
    @import '~mdbootstrap-pro/scss/mdb-pro';
    //addon
    @import 'variables';
    @import 'mixins';
    @import url("/css/ekko-lightbox.css");
    // GLOBAL --------------------------------------------------------------------------------------------------------- //
    body {
        background-color: $white;
        font-family: 'Maven Pro', sans-serif;
    }
    
    .site-max-width {
        max-width: $site-max-width !important;
        width: 95%;
    }
    
    .img100 {
        @include img100;
    }
    
    div#pageWrap {
        display: block;
        // margin: 0 0 0%;
    }
    
    div.mainTitle {
        display: block;
        width: 100%;
        h1 {
            display: block;
            width: 100%;
            margin: 0 0 30px;
            color: $secondary-color;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 130%;
        }
    }
    
    .alignElementToBottom {
        position: absolute;
        bottom: 0;
    }
    
    @media (max-width: 768px) {
        .alignElementToBottom {
            position: relative;
        }
    }
    
    #btnRegister {
        @include btn_Primary;
    }
    
    .minWidth {
        min-width: 1200px;
    }
    
    @media (max-width: 1199px) {
        .minWidth {
            min-width: 100%;
        }
    }
    
    // YT VIDEO ----------------------------------------------------------------------------------------------------- //
    div.ytEmbedContainter {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    
    div.formERR {
        @include formError;
    }
    
    hr {
        margin: 40px 0;
        border-top: 3px solid $primary-color;
    }
    
    // preloader ------------------------------------------------------------------------------------------------------ //
    #mdb-preloader {
        display: none;
        opacity: 0.8;
    }

    #preloaderSmall { position: absolute; width: 100%; z-index: 999;
        display: none;
        opacity: 0.8;
    }
    
    // BREADCRUMB ----------------------------------------------------------------------------------------------------- //
    ol.breadcrumb {
        background-color: $white;
        padding: 0px;
        li {
            a {
                color: $grey-dark;
                font-size: 90%;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    
    // ADD TO FAV ----------------------------------------------------------------------------------------------------- //
    div#addTo_FAV {
        display: inline-block;
        cursor: pointer;
        i.far {
            display: block;
        }
        i.fas {
            display: none;
        }
        @include trans_1;
        &:hover {
            i.far {
                display: none;
            }
            i.fas {
                display: block;
            }
        }
    }
    
    // SLIDER DOTS --------------------------------------------------------------------------------------------------- //
    ul.slick-dots {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            button {
                display: block;
                width: 24px;
                height: 24px;
                margin: 0 3px;
                font-size: 0;
                background-color: $white;
                border: none;
                border-collapse: collapse;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                border-radius: 12px;
                @include trans_1;
                &:hover {
                    background-color: $primary-color
                }
            }
        }
        li.slick-active {
            button {
                background-color: $primary-color;
            }
        }
    }
    
    // PAGINATION ----------------------------------------------------------------------------------------------------- //
    div#paginateBlock {
        display: block;
        width: 100%;
        text-align: center;
        ul.pagination {
            display: block;
            width: 100%;
            text-align: center;
            li {
                display: inline-block;
                margin: 0 5px;
                color: $secondary-color;
                font-size: 90%;
                font-weight: 500;
                background-color: $annona-gray-light;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                @include trans_05;
                a {
                    display: block;
                    padding: 2px 8px;
                    color: $secondary-color;
                }
                span {
                    display: block;
                    padding: 2px 8px;
                }
                &:hover {
                    background-color: $primary-color;
                    color: $white !important;
                }
                 :hover {
                    color: $white;
                }
            }
            li.active {
                background-color: $primary-color;
                color: $white;
            }
            li.disabled {
                background-color: $annona-gray-light;
            }
        }
    }
    
    // CARDS --------------------------------------------------------------------------------------------------------- //
    div.card {
        margin-bottom: 1rem;
        // background-color: $grey-card;
        div.card-header {
            h4.card-title {
                margin: 0;
                padding: 0;
                font-weight: 500;
                font-size: 130%;
                //  color: $primary-color;
            }
        }
    }
    
    // HEADER --------------------------------------------------------------------------------------------------------- //
    header {
        background-color: $white-base;
        color: $grey-base;
    }
    
    div#contactINFOhead {
        @include contactDisplayHead;
    }
    
    div#langHead .select-wrapper input.select-dropdown {
        font-size: 12px !important;
        border-bottom: none !important;
        margin: 0 !important;
        line-height: unset !important;
        height: unset !important;
        top: 0.3rem !important;
        text-align: right !important;
        &:hover {
            color: $primary-color;
        }
        &:active {
            color: $primary-color;
        }
    }
    
    div#langHead .select-wrapper span.caret {
        top: 0.4rem !important;
        right: 30px !important;
    }
    
    form#siteSearch input[name=PRETRAGA] {
        padding: 0 40px 0 20px;
        background-image: url('/images/header/search - icon - header.svg');
        background-color: $annona-gray-light !important;
        background-repeat: no-repeat;
        background-position: center right 10px;
    }
    
    a.profileLNK {
        @include profileLNK;
    }
    
    div#cartPrice {
        font-size: 16px;
        font-weight: 500;
    }
    
    a.favouritesLNK {
        display: block;
        position: relative;
        height: 100%;
        span.badge {
            position: absolute;
            z-index: 50;
            right: 0;
            //background-color: $blue;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
        div#addTo_FAV {
            display: block;
            height: 100%;
            i {
                font-size: 38px;
            }
        }
    }
    
    @media (max-width: 768px) {
        div#langHead {
            justify-content: flex-start;
            display: flex;
        }
        div#langHead .select-wrapper input.select-dropdown {
            text-align: center !important;
        }
        div#langHead .select-wrapper span.caret {
            right: 85px !important;
        }
        form#siteSearch input[name=PRETRAGA] {}
    }
    
    // MY CART ---------------------------------------------------------------------------------------------------- //
    div#myCart {
        padding: 0 15px 0 0;
        cursor: pointer;
        @include trans_05;
        div#cartCount {
            position: relative;
            span.badge {
                position: absolute;
                z-index: 50;
                top: 17px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }
        &:hover {
            background-color: $annona-gray-light;
        }
    }
    
    div#myCartModal {
        div.modal-content {
            background-color: rgba(19, 19, 20, 0.8);
        }
        div.modal-header {
            background-color: $annona-green-light;
        }
    }
    
    div#myProfileModal {
        div.modal-header {
            background-color: $annona-green-light;
        }
        div.modal-content {
            background-color: rgba(19, 19, 20, 0.8);
        }
    }
    
    div#cartDATA {
        div#cartPRODrow {
            margin: 10px 0;
            padding: 10px 0;
            border-bottom: 1px solid $grey-line;
            div#cartTXT {
                h3 {
                    display: block;
                    width: 100%;
                    color: $white;
                    font-weight: 600;
                    font-size: 130%;
                    line-height: 110%;
                }
                div.priceWrap {
                    @include productPrice_list;
                    div#finalAmount {
                        color: $white;
                    }
                    span.discountPrice {
                        display: inline-block;
                        color: $white !important;
                        font-weight: 500;
                    }
                    span.singlePrice {
                        display: inline-block;
                        color: $white !important;
                        font-weight: 500;
                    }
                    span.fullPrice {
                        display: inline-block;
                        color: $white !important;
                        font-weight: 500;
                    }
                }
            }
            div#cartIMG {
                img {
                    @include img100;
                }
            }
        }
        div#cartDISCOUNT {
            margin: 20px 0 0;
            padding: 5px 0;
            background-color: $grey-card;
            div#cartDISCOUNTtxt {
                margin: 0;
                padding: 0;
                font-size: 100%;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            span {
                font-size: 100%;
                font-weight: 500;
                color: $white;
            }
        }
        div#cartTOTAL {
            margin: 10px 0 0;
            padding: 5px 0;
            // background-color: $red;
            div#cartTOTALtxt {
                margin: 0;
                padding: 0;
                font-size: 140%;
                font-weight: 500;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            span {
                font-size: 140%;
                font-weight: 500;
                color: $white;
            }
        }
    }
    
    div#myCartModal {
        p.heading {
            font-size: 150%;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }
        a#btnMyCart {
            padding: 0.70rem 1.8rem;
            background-color: $primary-color;
            color: $white;
            letter-spacing: 1px;
            @include trans_1;
            &:hover {
                background-color: $annona-green-light;
            }
        }
        a#btnContinue {
            padding: 0.70rem 1.8rem;
            background-color: $yellow;
            color: $white;
            letter-spacing: 1px;
            @include trans_1;
            &:hover {
                background-color: $red;
            }
        }
    }
    
    div#myProfileModal {
        p.heading {
            font-size: 150%;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }
        div#profilDATA {
            color: $white !important;
            h3 {
                display: block;
                margin: 0 0 20px;
                color: $white;
                font-weight: 600;
                font-size: 120%;
            }
            h5 {
                display: block;
                margin: 20px 0;
                // color: $blue;
                font-weight: 500;
                font-size: 100%;
            }
            table {
                color: $white;
                tbody {
                    tr {
                        td {
                            padding-top: 0.3rem;
                            padding-bottom: 0.3rem;
                            font-size: 80%;
                            border-top: 0;
                            a {
                                color: $white;
                                &:hover {
                                    color: $red;
                                }
                            }
                        }
                    }
                }
            }
            hr {
                margin: 10px 0;
                border-top: 1px solid $grey-line;
            }
        }
        a#btnLogout {
            padding: 0.70rem 1.8rem;
            @include btn_Primary;
        }
        a#btnProfil {
            padding: 0.70rem 1.8rem;
            @include btn_Primary;
        }
    }
    
    div#cartWrap {
        table#cartTable {
            //  color: $white;
            tr {
                th {
                    // color: $blue;
                    border-bottom: 2px solid $primary-color;
                    font-size: 100%;
                    letter-spacing: 1px;
                }
                td {
                    vertical-align: top;
                    img {
                        @include img100;
                        max-width: 100px;
                    }
                    h3 {
                        //    color: $white;
                        font-size: 120%;
                        line-height: 110%;
                        font-weight: 600;
                    }
                    span.prodSKU {
                        @include productSKU;
                    }
                    div#qtyWrap {
                        display: table;
                        min-width: 100px;
                        div.btnMINUS {
                            display: table-cell;
                            height: 30px;
                            width: 40px;
                            cursor: pointer;
                            color: $primary-color;
                            line-height: 30px;
                            text-align: center;
                            //  background-color: $white;
                            -webkit-border-top-left-radius: 17px;
                            -webkit-border-bottom-left-radius: 17px;
                            -moz-border-radius-topleft: 17px;
                            -moz-border-radius-bottomleft: 17px;
                            border-top-left-radius: 17px;
                            border-bottom-left-radius: 17px;
                            @include trans_05;
                            &:hover {
                                color: $white;
                                background-color: $primary-color
                            }
                        }
                        input.prod_quantity {
                            display: table-cell;
                            width: 40px;
                            height: 34px;
                            //   color: $red;
                            font-weight: 600;
                            text-align: center !important;
                            //  background-color: $white;
                            border: none;
                            border-collapse: collapse;
                        }
                        div.btnPLUS {
                            display: table-cell;
                            height: 30px;
                            width: 40px;
                            cursor: pointer;
                            color: $primary-color;
                            line-height: 30px;
                            text-align: center;
                            //background-color: $white;
                            -webkit-border-top-right-radius: 17px;
                            -webkit-border-bottom-right-radius: 17px;
                            -moz-border-radius-topright: 17px;
                            -moz-border-radius-bottomright: 17px;
                            border-top-right-radius: 17px;
                            border-bottom-right-radius: 17px;
                            @include trans_05;
                            &:hover {
                                color: $white;
                                background-color: $primary-color;
                            }
                        }
                    }
                    div.priceWrap {
                        text-align: right;
                        @include productPrice_list;
                        span.discountPrice {
                            font-weight: 500;
                            //        color: $white;
                        }
                        span.singlePrice {
                            color: $primary-color;
                            margin-top: 0;
                            font-weight: 500;
                        }
                        span.finalPrice {
                            //      color: $white;
                            margin-top: 0;
                            font-weight: 500;
                        }
                    }
                    i#delCart {
                        cursor: pointer;
                        color: $red;
                        font-size: 150%;
                        @include trans_05;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
        div.cartInvoiceTitle {
            @include primaryTitle;
            padding-bottom: 1rem;
            border-bottom: 2px solid $primary-color
        }
        div#cartAmountWrap {
            margin: 0;
            padding: 0;
            label {
                // color: $blue;
                font-weight: 500;
            }
            div#cartAmount,
            div#cartDiscount,
            div#cartShipping { padding: 0.2rem 0;
                font-size: 110%;

                background-color: $grey-light;
                border-bottom: 2px solid $white;

                label { margin: 0;

                }
            }
            div#cartTotal { padding: 0.3rem 0;

                background-color: $grey-light-dark;


                font-size: 120%;
                font-weight: 600;
                letter-spacing: 1px;


                div#cartTotal_label {

                    font-weight: 900;

                    label {
                        color: $annona-orange;
                        margin-bottom: 0;
                        text-transform: uppercase;
                        font-weight: 900;
                    }

                    span { display: block;

                        font-size: 60%;
                        color: $grey;
                    }
                }

                div#cartTotal_txt {

                    font-size: 170%;
                    font-weight: 700;
                    color: $white;

                    label {
                        color: $annona-orange;
                        margin-bottom: 0;
                        text-transform: uppercase;
                        font-weight: 900;
                    }
                }
            }
        }
        div#orderStatus {
            div {
                label {
                    //    color: $blue;
                }
                a {
                    color: $red;
                    &:hover {
                        color: $grey;
                    }
                }
            }
        }
        div.cartOptionTitle {
            @include primaryTitle;
        }
        div#shippingAddress {
            h3 {
                @include primaryTitle;
            }
            a#btnRegister {
                @include btn_Primary;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    label {
                        margin: 0 10px 0 0;
                        //  color: $blue;
                        font-weight: 600;
                    }
                }
            }
        }
        button#orderConfirm {
            @include btn_Primary;
        }
    }
    
    // PRODUCT NAV ---------------------------------------------------------------------------------------------------- //
    div.productNAV {
        display: block;
        // width: 100%;
        font-size: 16px;
        // background-color: $blue;
        .navbar.navbar-light .breadcrumb .nav-item .nav-link,
        .navbar.navbar-light .navbar-nav .nav-item .nav-link {
            color: unset;
        }
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            //text-align: center;
            li {
                // display: table-cell; width: auto;
                a {
                    display: block;
                    color: $secondary-color;
                }
                 :hover {
                    color: $primary-color;
                    font-weight: 500;
                }
            }
             :last-of-type {
                padding-right: 0 !important;
            }
            .active {
                color: $primary-color;
                font-weight: 500;
            }
        }
    }
    
    @media (min-width: 992px) and (max-width: 1100px) {
        div.productNAV {
            ul {
                li {
                    text-align: center;
                    a {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
    // @media (max-width: 991px) {
    //     div.productNAV {
    //         ul {
    //             li {
    //                 text-align: center;
    //                 a {
    //                     img {
    //                         display: inline-block;
    //                     }
    //                     span {
    //                         display: none;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    // HOME SLIDER --------------------------------------------------------------------------------------------------- //
    div.homeSlider {
        display: block;
        width: 100%;
        img {
            position: relative;
            width: 100%;
            height: auto;
            z-index: 100;
        }
        div.slideContent {
            display: block;
            position: absolute;
            z-index: 200;
            bottom: 80px;
            padding: 20px;
            margin: 0 20% 0 10%;
            background-color: $black;
            opacity: 0.8;
            color: $white;
            h2 {
                display: block;
                margin: 0 0 20px;
                color: $yellow;
                font-size: 200%;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }
        ul.slick-dots {
            position: absolute;
            z-index: 200;
            bottom: 20px;
        }
    }
    
    // HOME SPEC TABs ------------------------------------------------------------------------------------------------ //
    div.specTABs {
        display: block;
        margin: 30px 0;
        background-color: transparent !important;
        color: $primary-color;
        text-align: center;
        font-weight: 400;
        a.nav-link {
            font-size: 24px;
        }
        div.prodOne h3 {
            font-size: 16px !important;
            color: $primary-color
        }
        div.prodOne {
            outline: 0;
            border: none;
            -moz-outline-style: none;
        }
        div.imgWrap {
            outline: 0;
            border: none;
            -moz-outline-style: none;
        }
        i {
            font-size: 20px;
            outline: none !important;
        }
        // div.priceWrap {
        //     font-size: 16px;
        // }
        .tab-content {
            background-color: transparent;
        }
        .nav {
            text-transform: uppercase;
            letter-spacing: 1px;
            .nav .active {
                // background-color: $red !important;
                color: $primary-color;
                outline: none !important;
            }
            // enable slickSlider load on tabs --------------------------- //
            .tab-content {
                display: flex;
                flex-direction: column;
            }
            .tab-content>.tab-pane {
                display: block !important;
                height: 0;
            }
            .tab-content>.active {
                display: block !important;
                height: auto;
            }
            // enable slickSlider load on tabs --------------------------- //
            ul.slick-dots {
                display: block;
                width: 100%;
                margin: 20px 0 !important;
            }
            a {
                color: $primary-color;
            }
        }
        a:active,
        a:focus {
            outline: 0;
            border: none;
            -moz-outline-style: none;
            color: $primary-color;
        }
    }
    
    // HOME ROW 1 ------------------------------------------------------------------------------------------------- //
    div#row_1 {
        display: block;
        margin: 0 0 5%;
        background-color: $annona-gray-light;
    }
    
    div.slider_company {
        //     background-color: $annona-gray-light;
    }
    
    // HOME ROW 2 ------------------------------------------------------------------------------------------------- //
    div#row_2 {
        display: block;
        margin: 0 0 5%;
    }
    
    // SLIDER ------------------------------------------------------------------------------------------------- //
    div#homeBlockSlider {
        h2 {
            color: $primary-color;
            text-transform: uppercase;
            font-size: 180%;
            letter-spacing: 0.3rem;
            text-align: center;
        }
    }

    // PRODUCT ONE ************************************************************************************************* //
    div.prodOne {
        display: block;
        width: 100%;
        position: relative;
        padding: 0 0 110px;
        h3 {
            display: block;
            margin: 20px;
            font-size: 100%;
            text-align: center;
            font-weight: 400;
            line-height: 100%;
            a {
                color: $secondary-color;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        div.prodFooter {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 20px;
            padding: 0 20px;
            div.priceWrap {
                @include productPrice_list;
            }
            div#addTo_CART {
                @include btn_AddToCart_list;
            }
        }
    }
    
    div.imgWrap {
        display: block;
        position: relative;
        div.akcijaNOTE {
            display: block;
            position: absolute;
            z-index: 300;
            right: -8px;
            padding: 2px 15px 3px;
            color: $white;
            text-transform: lowercase;
            background-color: $primary-color;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            font-size: 12px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            transform-origin: bottom;
            top: 12px;
        }
        div.bedz {
            display: block;
            position: absolute;
            background-color: $primary-color;
            z-index: 200;
            padding: 10px 0;
            color: $white;
            border-radius: 50%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            height: 64px;
            width: 64px;
            right: 30%;
        }
        img {
            display: block;
            position: relative;
            z-index: 100;
            margin: 0 auto;
        }
    }
    
    // PRODUCT ONE ************************************************************************************************* //
    // PRODUCT DATA ************************************************************************************************* //
    div#productDATA {
        height: 100%;
        form#addToCart {
            position: relative;
            height: 100%;
            h1 {
                color: $white;
                text-transform: unset;
                font-weight: 500;
            }
            h3 {
                color: $white;
                font-size: 130%;
                font-weight: 500;
            }
            label {
                //    color: $blue;
                font-weight: 600;
                margin: 0 10px 0 0;
            }
            .select-wrapper span.caret {
                //     color: $blue;
            }
            .select-dropdown.form-control {
                //background-color: $grey-form;
                text-indent: 10px;
                color: $white;
            }
            div.priceWrap {
                @include productPrice_data;
            }
            div#addTo_CART {
                @include btn_AddToCart_data;
            }
        }
    }
    
    div.prodTABs {
        .tab-content {
            background-color: transparent;
        }
        .nav {
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: transparent !important;
        }
        .nav .nav-link {
            color: $secondary-color;
        }
        .nav .active {
            background-color: transparent !important;
            color: $primary-color !important;
            border-bottom: 2px solid $primary-color;
        }
        .tab-pane {
            //padding: 30px;
            padding-top: 30px;
            color: $secondary-color;
            p {
                display: block;
                margin: 0 0 10px;
            }
            h2 {
                display: block;
                margin: 20px 0;
                color: $red;
                font-weight: 600;
                font-size: 160%;
                letter-spacing: 1px;
            }
            h3 {
                display: block;
                margin: 20px 0 15px;
                //     color: $blue;
                font-weight: 500;
                font-size: 130%;
                font-style: italic;
                letter-spacing: 1px;
            }
            blockquote {
                display: block;
                width: 100%;
                margin: 20px 0;
                padding: 15px;
                border-left: 2px solid $primary-color;
                background-color: $grey-light-dark;
                font-style: italic;
            }
            img {
                @include img100;
            }
        }
    }
    
    div.prodDetails {
        .annonaOrange {
            color: $annona-orange;
        }
    }
    
    // PRODUCT DATA ************************************************************************************************* //
    // LEFT ---------------------------------------------------------------------------------------------------------- //
    div#lefNav {
        background-color: $white;
        border-bottom: 1px solid $annona-gray-light;
        ul#catNAV {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 110%;
            a {
                color: $secondary-color;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        h5 {
            color: $primary-color;
            a {
                color: $primary-color;
                &:hover {
                    color: $annona-green-light;
                }
            }
            i {
                color: $annona-gray-dark;
            }
        }
        div.mnfcScroll {
            @include scrollable_filter;
        }
    }
    
    // STATIC --------------------------------------------------------------------------------------------------------- //
    div.staticContent {
        display: block;
        margin: 0 0 10%;
        h2 {
            display: block;
            margin: 40px 0 20px;
            color: $white;
            font-weight: 500;
            font-size: 160%;
            text-transform: uppercase;
        }
        h3 {
            display: block;
            margin: 30px 0 15px;
            //    color: $blue;
            font-weight: 400;
            font-size: 140%;
        }
        h4 {
            display: block;
            margin: 20px 0 10px;
            color: $red;
            font-weight: 500;
            font-size: 110%;
            text-transform: uppercase;
        }
        a {
            color: $primary-color;
            &:hover {
                color: $primary-color;
            }
        }
        .nav-tabs {
            border-bottom: 1px solid #dee2e6;
            background: #F9F9F9 0% 0% no-repeat padding-box;
        }
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            color: #fff;
            background-color: $primary-color;
            border-color: #dee2e6 #dee2e6 #fff;
            text-transform: uppercase;
        }
        .nav-justified .nav-item {
            flex-basis: unset;
            text-transform: uppercase;
            color: $primary-color;
        }
        // img {
        //     @include img100;
        // }
    }
    
    // FOOTER --------------------------------------------------------------------------------------------------------- //
    div#freeSHIPPING {
        font-size: 150%;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        img {
            margin: 0 30px 0 0;
        }
    }
    
    @media (max-width: 991px) {
        div#freeSHIPPING {
            img {
                display: block;
                width: 100px;
                margin: 0 auto 30px;
            }
        }
    }
    
    footer.annona-footer-bg {
        background-color: $annona-footer-bg;
    }
    
    footer .border-annona {
        border-bottom: 1px solid $annona-gray-dark;
        width: 25%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
    
    div#shopNAV {
        h5 {
            color: $primary-color;
            font-size: 120%;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    color: $white;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    
    div#contactINFOfooter {
        @include contactDisplayFooter;
    }
    
    @media (max-width: 768px) {
        footer div.copyWrap span.OSM {
            display: block;
            width: 100%;
            margin: 5px 0;
        }
        footer div.copyWrap span.vLine {
            display: none;
        }
    }
    
    // MODAL COOKIE -------------------------------------------------------------------------------------------- //
    div#modalCookie {
        div.modal-content {
            background-color: rgba(19, 19, 20, 0.9);
            div.modal-body {
                color: $white;
                a {
                    color: $primary-color;
                    &:hover {
                        color: $primary-color;
                    }
                }
                a#cookieConfirm {
                    @include btn_Primary;
                }
            }
        }
    }
    
    // BANNERS ------------------------------------------------------------------------------------------------- //
    div#banner_1 {
        display: block;
        width: 100%;
        margin: 0 0 30px;
    }
    
    div#bannerWrap {
        img {
            @include imgBanner;
        }
    }
    
    // Products bottom start
    .productCardBottom {
        position: absolute;
        bottom: 0px;
    }
    
    .border-5 {
        border-style: solid;
        height: 5px;
    }
    
    .fullPrice {
        color: $secondary-color;
        text-decoration: line-through;
    }
    
    .singlePrice {
        color: $primary-color;
        margin-top: 0;
        font-size: 16px;
    }
    
    .discountPrice {
        color: $primary-color;
        margin-top: 0;
    }
    
    .buyButton {
        font-size: x-small;
    }
    
    // Products bottom end
    .modified-accordion .card-header {
        position: relative;
    }
    
    .modified-accordion .card-header:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    
    .modified-accordion .collapse:not(.show) {
        display: block;
    }
    
    @media (max-width: 767px) {
        .modified-accordion .collapse:not(.show) {
            display: none;
        }
        .modified-accordion .card-header:after {
            display: none;
        }
    }
    
    // Products bottom end
    .modified-accordion .cardHead {
        position: relative;
    }
    
    .modified-accordion .cardHead:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    
    .modified-accordion .collapse:not(.show) {
        display: block;
    }
    
    @media (max-width: 767px) {
        .modified-accordion .collapse:not(.show) {
            display: none;
        }
        .modified-accordion .cardHead:after {
            display: none;
        }
    }
    
    // Products bottom end
    // mobile nav - mdbootstrap animations
    /* Icon 1 */
    
    .animated-icon1,
    .animated-icon2,
    .animated-icon3 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .animated-icon1 span,
    .animated-icon2 span,
    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
        background: $primary-color;
    }
    
    .animated-icon2 span {
        background: $primary-color;
    }
    
    .animated-icon3 span {
        background: $primary-color;
    }
    
    .animated-icon1 span:nth-child(1) {
        top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
        top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
        top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
        top: 0px;
    }
    
    .animated-icon2 span:nth-child(2),
    .animated-icon2 span:nth-child(3) {
        top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
        top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
        top: 10px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
        top: 20px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }
    
    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
    }
    
    .input-wrapper {
        display: inline-block;
        position: relative
    }
    
    .input-wrapper:after {
        font-family: 'FontAwesome';
        content: '\f274';
        position: absolute;
        right: 6px;
    }
    
    div#contactNav {
        h5 {
            color: $primary-color;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    color: $secondary-color;
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    
    #btnToSend {
        input {
            background-color: $annona-gray-light;
            border-radius: 20px;
        }
        textarea {
            background-color: $annona-gray-light;
            border-radius: 20px;
        }
        label {
            font-size: 80%;
            color: $secondary-color;
        }
    }
    
    // Product Quantity -------------------------------------------------------------------- //
    div#qtyWrap {
        display: table;
        //min-width: 100px;
        div.btnMINUS {
            display: table-cell;
            //   height: 30px;
            width: 20px;
            cursor: pointer;
            color: $secondary-color;
            //   line-height: 30px;
            text-align: center;
            background-color: $annona-gray-light;
            -webkit-border-top-left-radius: 16px;
            -webkit-border-bottom-left-radius: 16px;
            -moz-border-radius-topleft: 16px;
            -moz-border-radius-bottomleft: 16px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            font-size: 12px;
            @include trans_05;
            &:hover {
                color: $white;
                background-color: $primary-color;
            }
        }
        input.prod_quantity {
            display: table-cell;
            width: 30px;
            height: 25px;
            color: $secondary-color;
            font-weight: 600;
            text-align: center !important;
            background-color: $annona-gray-light;
            border: none;
            border-collapse: collapse;
            font-size: 12px;
        }
        div.btnPLUS {
            display: table-cell;
            //height: 30px;
            width: 20px;
            cursor: pointer;
            color: $secondary-color;
            // line-height: 30px;
            text-align: center;
            background-color: $annona-gray-light;
            -webkit-border-top-right-radius: 16px;
            -webkit-border-bottom-right-radius: 16px;
            -moz-border-radius-topright: 16px;
            -moz-border-radius-bottomright: 16px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            font-size: 12px;
            @include trans_05;
            &:hover {
                color: $white;
                background-color: $primary-color;
            }
        }
    }


    // Kontakt ----------------------------------------------------------------

    div#contactNav {
        p {
            margin-bottom: 0;
        }
    }

    div#shopNAV {
        p {
            margin-bottom: 0;
        }
    }

// RATING -------------------------------------------------------------------------------------------------------- //
div#ratingWrap {

    margin: 3rem 0;

    span {

        i {
            font-size: 130%;

            @include trans_1;

            &:hover {
                cursor: pointer;
                color: $annona-green-light;
            }

        }

    }

    span.blank {
            i {
                pointer-events: none;
            }
        }

    .starOFF {
        color: $grey-light_1;
    }

    .starON {
        color: $annona-green-light;
    }

    div#rateMSG { height: 40px;
        line-height: 30px;

        div.formOK { margin: 0; padding: 0; }
        div.formERR { margin: 0; padding: 0; }
    }

}


// Salon ----------------------------------------------------------------
div#salonWrap {

    h3 {
        color: $primary-color;
        font-size: 130%;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    div.serviceTitle { cursor: pointer; padding: 0.2rem 0;

        font-size: 90%;
        color: $grey-light_1;
        line-height: normal;
        border-bottom: 1px solid $grey-light_2;

        &:hover {
            color: $primary-color;
        }
    }
}


.form-control {
    transition: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}